.hero {
  width: 100%;
  height: 70vh;
  margin-top: 5vh;
  position: relative;
  /* background-color: rgb(201, 201, 201); */
}

.mainSwiper {
  width: 100%;
  height: 100%;
}

.slide-content {
  display: flex;
  justify-self: center;
  align-items: center;

  width: 65%;
  height: 50%;
  margin-top: 16vh;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);;
}

.slide-content .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: #000;;
}

.slide-content .text h1 {
  font-size: 3.5vh;
  margin-bottom: 1rem;
}

.slide-content .text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.slide-content .text button {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(90deg, #5c3b1e, #8b5a2b, #5c3b1e);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.slide-content .image {
  flex: 0.35;
  margin-left: 5vh;
}

.slide-content .image img {
  max-width: 100%;
  max-height: 70vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: #462D0C !important;
}