.hero {
  width: 100%;
  height: 70vh;
  margin-top: 7vh;
  position: relative;
  background-color: rgb(201, 201, 201);
}

.mainSwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.slide-content .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: #000;;
}

.slide-content .text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.slide-content .text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.slide-content .text button {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(90deg, #5c3b1e, #8b5a2b, #5c3b1e);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* width: 20vh; */
}

.slide-content .image {
  flex: 0.5;
}

.slide-content .image img {
  max-width: 100%;
  max-height: 70vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 12px;
}
